<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            {{#if catalogos}}
                {{#each catalogos}}
                    <div class="col-md-4 mb-4 text-center" >
                        <div class="card">
                            <img src="{{Imagen}}" class="card-img-top" alt="Imagen del producto" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title">{{PrendaNombre}}</h5>
                                <p class="card-text">{{Descripcion}} <br>{{Talla}} <br> ${{Precio}} <br>{{Stock}}</p>
                                <!-- Enlace a la vista previa del producto -->
                                <a href="/catalogos/view/{{ProductoID}}" class="btn btn-primary">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h3 class="text-center text-uppercase">NO EXISTEN PRODUCTOS</h3>
                <a href="/productos/add/" class="btn btn-success">
                    <i class="fa-solid fa-pencil">CREAR PRODUCTO</i>
                </a>
            {{/if}}
        </div>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
