<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-img-top {
            height: auto; /* Permite que la imagen mantenga sus proporciones */
            max-width: 100%; /* Limita el ancho máximo al 100% del contenedor */
            object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor manteniendo sus proporciones */
        }
        .reduced-image {
            width: 45%; /* Reduce la imagen al 75% del contenedor */
            margin: 0 auto; /* Centra la imagen horizontalmente */
        }
    </style>
</head>
<body>
    <div class="container mt-4 text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{#each catalogo}}
                <div class="card">
                    <!-- Imagen del producto -->
                    <img src="{{Imagen}}" class="card-img-top reduced-image img-fluid" alt="Imagen del producto">
                    <div class="card-body">
                        <!-- Nombre del producto -->
                        <h5 class="card-title">{{PrendaNombre}}</h5>
                        <!-- Descripción del producto -->
                        <p class="card-text"><strong>Descripción:</strong> {{Descripcion}} <br>
                        <strong>Precio:</strong> ${{Precio}} <br>
                        <strong>Stock:</strong> {{Stock}} <br>
                        <strong>Talla:</strong> {{Talla}} <br>
                        <strong>Categoría:</strong> {{Categoria}}
                        </p>
                        <a href="/catalogos/list" class="btn btn-primary">Regresar</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
