<div class="container">
    <div class="row">
            <table class="table text-center mx-auto">
                &nbsp;
             <br>
                <thead>
                    <h3 class="text-center text-upercase p-2">LISTA DE CLIENTES</h3>
                    <a href="/clientes/add/" class="btn btn-success"><i class="fa-solid fa-pencil">CREAR CLIENTES</i></a>
                    <tr class="table-dark">
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each clientes}}
                        <tr>
                            <td>{{Apellido}}</td> 
                            <td>{{Nombre}}</td>   
                            <td>{{Email}}</td>  
                            <td>{{Telefono}}</td>  
                            <td>{{Direccion}}</td>  
                            <td>{{Cedula}}</td>  
                            <td>
                            <div class="btn-group">
                                <a href="/clientes/edit/{{ClienteID}}" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
                                <a href="/clientes/edit/{{ClienteID}}" class="btn btn-danger" onclick="event.preventDefault(); if(confirm('¿Estás seguro de que deseas eliminar este cliente?')) { window.location.href='/clientes/delete/{{ClienteID}}'; }"><i class="fa-solid fa-trash"></i></a>

                            </div>
                            </td>                          
                        </tr>
                        
                        
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                    </tr>
                </tfoot>
            </table>
            
    </div>
</div>