<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Editar Producto</h3>
                </div>
                <div class="card-body">
                   <form action="/productos/edit/{{productos.ProductoID}}" method="post" enctype="multipart/form-data">

                        <div class="input-group mt-2">
                            <label for="PrendaID" class="input-group-text">Prenda</label>
                            <select class="form-control" name="PrendaID" id="PrendaID">
                                {{#each prendas}}
                                    <option value="{{this.PrendaID}}" {{this.selected}}>{{this.Nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Descripcion" class="input-group-text">Descripción</label>
                            <input class="form-control" type="text" name="Descripcion" id="Descripcion" value="{{productos.Descripcion}}" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Precio" class="input-group-text">Precio</label>
                            <input class="form-control" type="number" name="Precio" id="Precio" value="{{productos.Precio}}" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="CategoriaID" class="input-group-text">Categoría</label>
                            <select class="form-control" name="CategoriaID" id="CategoriaID">
                                {{#each categorias}}
                                    <option value="{{this.CategoriaID}}" {{this.selected}}>{{this.Nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Stock" class="input-group-text">Stock</label>
                            <input class="form-control" type="number" name="Stock" id="Stock" value="{{productos.Stock}}" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Talla" class="input-group-text">Talla</label>
                            <input class="form-control" type="text" name="Talla" id="Talla" value="{{productos.Talla}}" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Imagen" class="input-group-text">Imagen</label>
                            <input class="form-control" type="file" name="Imagen" id="Imagen" accept="image/*">
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
